{{extend 'layout.html'}}
<h1 font-family= 'Comic Sans MS',cursive,sans-serif>
    <u>
        Contact Us
    </u>
</h1>
<br>
<br>
<br>
<center>
<img src="http://127.0.0.1:8000/onlineexam/static/1526432_1502863693260143_8946732997459413913_n.jpg" alt="Onlineexam" width="30%" height="20%" float="left" />
    </center>

<body background="http://127.0.0.1:8000/onlineexam/static/light_textured_backround.jpg">
    <strong>NAME</strong> :  Madhur Modi <br> <br>
    <strong>Email-Id</strong>: modimadhur04@gmail.com <br> <br>
    <strong>About Me</strong> : I am pursuing B.Tech in Computer Science at IIIT-H <br> <br>
    <strong>Phone Number</strong> : 7893915182 <br> <br>
    <hr><hr>
    
    <center>
<div>
    
   <img src="http://127.0.0.1:8000/onlineexam/static/10686719_10202004594835470_7299967848958565911_n.jpg" alt="Onlineexam" height='50%' width='30%' float="left"  />
    </div></center>
    <strong>        NAME</strong> :  Swapnil Raz <br> <br>
    <strong>        Email-Id</strong>: swapnil221196@gmail.com <br> <br>
    <strong>        About Me</strong> : I am first year Computer Science student at IIIT-Hyderabad. <br> <br>
    <strong>        Phone Number</strong> : 9477550000 <br> <br>

</body>
<style>
body{
    color:black;
    text-transform:capitalize;
    font-family:"Times New Romen";
    text-align: center;
}
    
</style>
